@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  background-color: #252421;
  font-family: "Lato", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background: linear-gradient(to right, #ae2e0d, #feb47b, #df360c);
  background-size: 200% 100%;
  animation: moveGradient 3s linear infinite;
}

/* You may need to adjust the button's position and z-index accordingly */
